.dashboard-container{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 540px;
}
.dashboard-profile{
    margin-top: 5px;
    padding: 20px;
    margin-bottom: 3px;
    background-color: rgb(255, 255, 255);  
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); 
}
.dashboard-profile-photo{
    width: 80px;
    height: 80px;
    padding-left: 20px;
}
.dashboard-profile-photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.dashboard-profile-info img{
    width: 10px;
    height: 10px;
    padding-left: 10px;
}
.dashboard-profile-info > div > p{
    font-weight: 500;
}
.dashboard-profile-info > p{
    font-size: 14px;
}

.dashboard-profile-info p{
    margin: 0;
}
.dashboard-logout{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    color: rgb(32, 94, 240);
}
.dashboard-logout img{
    padding: 0px 10px;
    width: 20px;
    height: 20px;

}
@media screen and (min-width: 320px) and (max-width: 576px) {
    .dashboard-container {
        width: 80%;
        height: auto;
    }
    .dashboard-profile {
        padding: 10px;
        width: 90px;
    }
    .dashboard-profile-photo {
        width: 60px;
        height: 60px;
        padding-left: 0px;
    }
    .dashboard-profile-info img {
        display: none;
    }
    .dashboard-profile p{
        font-size: 0px;
        color: transparent;
    }
}