.home-header {
    background-color: #cfeffb;
    display: flex;
  }
.home-logo{
    background: #ffffff;
    box-sizing: border-box;
    height: 125px;
    padding : 13px 36px;
    position : relative;
    width : 200px;
}
.home-logo:after {
    background: #ffffff;
	  content: "";
	  height: 125px;
	  position: absolute;
	  right: -32px;
	  top: 0;
	  -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    transform: skew(-20deg);
	width: 55px;
}
.home-profile{
    display: flex;
    margin-left: auto;
}

.home-profile-Infor{
    display: flex;
    height: 50px;
    width: 250px;
    margin: 20px;
    border-radius: 10px;
    background: #ffffff;
}
.home-profile-logo{
    height: 50px;
    width: 50px;
}
.home-profile-caption{
    height: 50px;
    width: 200px;
}
.home-profile-Infor p{
    padding: 0px;
}
.home-arrow{
    height: 50px;
    width: 50px;
    margin: 20px 20px 20px 0px;
    background: #ffffff;
}
.home-body{
    display: flex;
}