.card-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.card {
    box-sizing: border-box;
    border: 1px solid #ddd;
    display: flex;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    text-align: left;
    }
.card:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.card-capt{
    display: flex;
    flex-direction: row;
    font-size: 11px;
    width: 115px;
    padding: 5px;
    border-radius: 50px;
}
.card-capt1{
    display: flex;
    flex-direction: row;
    font-size: 11px;
    width: 70px;
    padding: 5px;
    border-radius: 50px;
}
.card-des{
    font-size: 15px;
    padding-bottom: 30px;
}
.card ul {
    list-style-type: none;
    padding: 0;
}
.card li {
    margin: 5px 0;
    padding: 20px;
    box-sizing: border-box;
    display: inline;
}
img{
    width: 20px;
    height: 20px;
    padding: 0px 20px;
}
.card-capt.color-1 {
    background-color: rgb(186, 248, 162);
}

.card-capt.color-2 {
    background-color: rgb(156, 255, 255);
}
.card-capt1.color-1 {
    background-color: rgb(186, 248, 162);
}

.card-capt1.color-2 {
    background-color: rgb(156, 255, 255);
}
 .card1{
    box-sizing: border-box;
    width:350px;
 } 
 .card2{
    box-sizing: border-box;
    width: 340px;
 }
 @media screen and (min-width: 320px) and (max-width: 576px) {
    .card-container {
        display: block;
    }
    .card {
        margin: 20px 0px;
        width: 250px;
        display: block;
    }
    .card-des{
        font-size: 12px;
    }
    .card li {
        font-size: 10px;
        padding: 0px;
    }
    .card1{
        width: 200px;
    }
    .card2{
        width: 200px;
    }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
    .card-container {
        display: block;
    }
    .card {
        margin: 20px 0px;
        width: 410px;
        display: block;
    }
    .card-des{
        font-size: 20px;
    }
    .card li {
        font-size: 18px;
        padding: 0px;
    }
    .card1{
        width: 350px;
    }
    .card2{
        width: 350px;
    }
}